.input-wrapper{
    // border: 1px solid brown;
    width: 50vw;
    height: 100px;
    font-size: 3rem;
    text-align: center;
    margin: 50px auto;
    display: flex;
    align-items: center;
    justify-content: center;
    input{
        height: 90%;
        width: 90%;
        font-size: 3rem;
        text-align: center;
        letter-spacing: 7px;
        outline: none;
        padding-left: 10px;

    }
    input::placeholder{
        font-size: 1rem;
    }
}